* {
    margin: 0;
    padding: 0;
}

.slider {
    padding-top: 5px; 
    text-align: center;
}
.slider__img {
    height: 100px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}

.preview {
    padding-top: 35px;
    text-align: center;
    font-size: 0;
}

.show-full-img { 
    vertical-align: middle;
    width: 500px;
    height: 500px;
    display: inline-block;
    margin-bottom: 5px;
}

.show-full-img img {
    width: 100%;
    display: block;
}

.hw-1 {
    align-content: center; 
}

.prev-btn, .next-btn {
    height: 60px;
    width: 60px;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 100%;
    border: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer ;
}

.prev-btn:active, .next-btn:active {
    border: 1px solid black;
}

.prev-btn:hover, .next-btn:hover {
    background-color: blue;
    transition: background-color 0.5s;
    transition: color 0.2s;
    color: aliceblue;
}

.prev-btn::after {
    content: "<";
}

.next-btn::after {
    content: ">";
}

.hw-2 {
    padding-top: 50px; 
}

.goods__item {
    box-sizing: border-box;
    background-color: rgb(197, 197, 197);
    width: 23%;
    margin: 5px;
    padding: 5px;
    float: left;
}
.goods__item::after {
    content: "";
}
.goods__image {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.goods__image img {
    display: block;
    height: 100%;
}

.cart {
    position: absolute;
    min-width: 250px;
    background-color: rgb(197, 197, 197);
    min-height: 150px;
    right:50px;
    top:35px;
    display: none;
    padding-bottom: 15px;
}

.sum {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
}
.sum span::after {
    content: '$';
}

.item-list {
    text-align: left;
    padding: 0;
    margin-left: 25px;
    list-style-type: decimal-leading-zero;
}