.banners {
  padding: 99px 0 85px;
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
  &__column {
    margin: -10px 0 -10px -10px;
    
    &:last-child {
      margin-right: -10px;
      margin-left: 0px;
    }
    
  }  
  &__link-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &__item {
    flex: auto;
    min-width: 150px;
    position: relative;
    margin: 10px 10px 18px;

    &:hover &-info{
      padding-left: 50px;
    }
    
    img {
      width: 100%;
      height: auto;
    }
    
    &-info {
      position: absolute;
      background-color: white;
      padding: 15px 20px;
      left: 0;
      top: 25px;
      text-transform: uppercase;
      color: $color-dark;
      font-weight: 900;
      transition: padding .5s;
      letter-spacing: 0.5px;
    }
    &-state {
      font-size: 18px;
    }
    &-category {
      margin-top: 5px;
      font-size: 30px;
      color: $color-pink;
    }
  }
}
