html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #c87338;
    font-family: monospace;
}

*, *::after, *::before {
    box-sizing: border-box;
}

input:focus,textarea:focus {
    outline: none;
}

.container {
    -webkit-box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    background: linear-gradient(45deg, rgba(250,179,97,1) 0%, rgba(200,115,56,1) 100%);
    display: flex;
    margin: 0 auto;
    height: 100%;
    max-width: 960px;
    flex-wrap: wrap;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
}

.registration {
    height: 100%;
}

.registration__title {
    position: absolute;
    top: 10%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;

}

.registration__title h1 {
    border: 3px solid white;
    display: inline-block;
    padding: 5px 20px;
    -webkit-box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    font-weight: normal;
}

.registration > .container {
    flex-direction: column;
}

.registration-form {
    border: 3px solid white;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    color: white;
    padding: 25px;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.8);
}

.registration-form__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    margin: 5px;
}

.registration-form__wrapper_msg {
    flex-wrap: wrap;
    flex-direction: column;
}

.registration-form__title {
    text-align: right;
    width: 170px;
    border-bottom: 2px solid white;
    min-height: 29px;
}

.registration-form__input {
    margin-left: 25px;
    width: 55%;
    background: rgba(0,0,0,0);
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    transition: transform 0.3s;
}

.registration-form__input:focus {
    transform: scale(1.1);
}

.registration-form__input::placeholder {
    color: rgba(255,255,255,0.60);
}

.registration-form__input_error {
    border-color: red;
    transform: scale(1.05);
    color: red;
}

.registration-form__input_error:focus {
    border-color: white;
    color: white;
    transform: scale(1);
}

.registration-form__input_error::placeholder {
    color: red;
}

.registration-form__input_text-area {
    margin-left: 0;
    margin-top: 25px;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
    width: 100%;
}

.registration-form__input_text-area:focus {
    transform: scale(1.05);
}

.registration-form__btn {
    position: absolute;
    display: inline-block;
    background: rgba(0,0,0,0);
    color: rgba(255,255,255,0.80);
    top: 0;
    border: 2px solid white;
    padding: 5px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
    margin-top: 10px;
}

.registration-form__btn:hover {
    color: rgba(255,255,255,1);
    transform: scale(1.15);
}

.registration-form__wrapper_btn {
    flex-direction: row-reverse;
    justify-content: right;
    height: 36px;
}