body,
html {
  height: 100%;
  background-color: #999999;
}

[draggable] {
  background-color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  user-drag: element;
}

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.hide {
  position: relative;
  width: 0;
  z-index: -999;
  opacity: 0;
}

.cross {
  position: relative;
  height: 100%;
  width: 14px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cross::before,
.cross::after {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 4px;
  background-color: white;
  position: absolute;
  content: '';
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  border-radius: 5px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.cross::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.cross_rotate {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cross_silver::before,
.cross_silver::after {
  background-color: #c4c4c4;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff8663;
  padding: 15px;
  border-radius: 0 0 15px 15px;
}

.header-content__login {
  display: block;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-family: "Fira Sans", sans-serif;
  margin: 0 15px 0 auto;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 15px 3px;
  -webkit-transition: border .3s, color .3s;
  -o-transition: border .3s, color .3s;
  transition: border .3s, color .3s;
  cursor: pointer;
}

.header-content__login:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.header-content__login:focus {
  outline: none;
}

.header-content__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid white;
  overflow: hidden;
  border-radius: 150px;
  padding: 0 0 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header-content__user-name {
  display: block;
  max-width: 50px;
  font-family: "Fira Sans", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  margin-right: 10px;
  white-space: nowrap;
  -webkit-transition: max-width 1s;
  -o-transition: max-width 1s;
  transition: max-width 1s;
}

.header-content__user-name span {
  display: none;
}

.header-content__user:hover .header-content__user-name {
  max-width: 200px;
}

.header-content__user:hover .header-content__user-name span {
  display: inline-block;
}

.header-content__user-img {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 1px 3.5px white;
  box-shadow: 0 0 1px 3.5px white;
}

.header-content__user-img img {
  height: auto;
  width: 100%;
}

.friends {
  height: 70%;
}

.friends-filter {
  max-width: 620px;
  height: 490px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.friends-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ff8663;
  height: 45px;
}

.friends-filter__header-title {
  margin: 15px 15px;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.friends-filter__header-close {
  padding: 0;
  margin-right: 12px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.friends-filter__header-close:focus {
  outline: none;
}

.friends-filter__header-close:hover::after,
.friends-filter__header-close:hover::before {
  background-color: orangered;
}

.friends-filter__search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
}

.friends-filter__search-bar-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 26px;
  width: 285px;
  background-color: white;
  border: none;
  border-radius: 15px;
  color: #9f9f9f;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
  padding-left: 14px;
}

.friends-filter__search-bar .input-wrapper {
  position: relative;
}

.friends-filter__search-bar .input-wrapper i {
  position: absolute;
  top: 50%;
  left: 7px;
  color: #c4c4c4;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
}

.friends-filter__search-bar .input-wrapper input {
  padding-left: 28px;
}

.friends-filter__search-bar-input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 15px -1px #ccc;
  box-shadow: 0 0 15px -1px #ccc;
}

.friends-filter__body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.friends-filter__body-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  overflow: hidden;
  border-right: 1px solid #f0f0f0;
  padding-left: 15px;
}

.friends-filter__body-list-title {
  margin: 14px 15px 0 0;
  padding-bottom: 5px;
  color: #4f4f4f;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}

.friends-filter__body-list-scope {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding-right: 15px;
}

.friends-filter__body-list:last-child {
  border: none;
}

.friends-filter__footer {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.friends-filter__footer-save-btn {
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  border: none;
  margin-left: auto;
  margin-right: 7px;
  width: 87px;
  height: 30px;
  background-color: #ff8663;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.friends-filter__footer-save-btn:hover {
  background-color: #ff9974;
}

.friends-list {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 320px;
}

.friends-list .simplebar-track {
  margin-right: 3px;
}

.friends-list .simplebar-track .simplebar-scrollbar {
  width: 4px;
}

.friends-list .simplebar-track .simplebar-scrollbar::before {
  background-color: #c4c4c4;
}

.friends-list__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  border-top: 0 solid white;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

.friends-list__elem-img {
  border-radius: 150px;
  overflow: hidden;
  height: 48px;
  width: 48px;
  margin-left: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.friends-list__elem-img img {
  height: auto;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.friends-list__elem-name {
  margin-left: 6px;
  margin-right: auto;
  color: #4f4f4f;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.friends-list__elem-action {
  height: 16px;
  margin-right: 9px;
}

.friends-list__elem-action::after,
.friends-list__elem-action::before {
  height: 16px;
}

.friends-list__elem-action:focus {
  outline: none;
}

.friends-list__elem-action_add:hover::after,
.friends-list__elem-action_add:hover::before {
  background-color: greenyellow;
}

.friends-list__elem-action_rm:hover::after,
.friends-list__elem-action_rm:hover::before {
  background-color: #ff0000;
}

.friends-list__elem:hover {
  background-color: #f0f0f0;
}

.clone {
  background-color: white;
  width: 280px;
  height: 60px;
  position: absolute;
  z-index: 100;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */
