.similar {
  padding-top: 40px;
  padding-bottom: 70px;
  
  &__title {    
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }  
}

.features-items__unit-title_gray {
  color: #6f6e6e;
}
